@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  @apply bg-white text-black;
}

@font-face {
  font-family: "Balance Serif";
  src: local("Times New Roman"), local("Times"), local("Georgia"), serif;
  font-weight: normal;
  font-style: normal;
}

.font-serif {
  font-family: "Balance Serif", Georgia, serif;
}