@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font1: "Almarai", sans-serif;
  --font2: "Bricolage Grotesque", sans-serif;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  @apply bg-white text-black;
}

@font-face {
  font-family: "Balance Serif";
  src: local("Times New Roman"), local("Times"), local("Georgia"), serif;
  font-weight: normal;
  font-style: normal;
}

.font-serif {
  font-family: "Balance Serif", Georgia, serif;
}

.font-almarai {
  font-family: var(--font1);
}

.font-bricolage {
  font-family: var(--font2);
}

.font-instrument {
  font-family: var(--font3);
}

.face-img {
  background-image: url("../public/images/face.jpg");
}
.tools {
  background-image: url("../public/images/tools.jpg");
}
.body {
  background-image: url("../public/images/body.jpg");
}
